@use '../utility/variables' as *;
@use '../utility/mixins' as *;

.events {
  &__heading {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 48px;
    }

    @include desktop {
      margin-bottom: 56px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include desktop {
      gap: 100px;
    }
  }

  &__announcement {
    padding-top: 60px;

    @include tablet {
      padding-top: 100px;
    }
  }
}
