@use '../utility/variables' as *;
@use '../utility/mixins' as *;

.hero {
  overflow: hidden;

  &__container {
    @include page-grid;

    row-gap: $gap-mobile;

    @include tablet {
      row-gap: unset;
    }
  }

  &__hamburger {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
    margin-top: 20px;

    @include tablet {
      margin-top: 40px;
    }
  }

  &__left {
    position: relative;

    display: flex;
    grid-column: 1 / -1;
    grid-row: 2;
    flex-direction: column;
    gap: 20px;

    @include tablet {
      grid-column: 1 / 4;
      grid-row: 1;
      gap: 40px;
      margin-top: 128px;
    }

    @include desktop {
      grid-column: 1 / 6;
      gap: 80px;
      margin-top: 200px;
    }
  }

  &__right {
    position: relative;

    grid-column: 1 / -1;
    grid-row: 1;

    height: 300px;
    margin-inline: -$padding-mobile;

    @include background-img('/src/images/hero-bg.jpg');

    @include tablet {
      grid-column: 4 / -1;
      height: 380px;
      margin-inline: unset;
      // stylelint-disable-next-line order/properties-order
      margin-right: -$padding-tablet;
    }

    @include desktop {
      grid-column: 6 / -1;
      height: 650px;
      margin-right: calc((100vw - 100%) / -2);
    }
  }

  &__title {
    margin: 0;

    font-family: $font-title;
    font-size: 45px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
      font-size: 54px;
      line-height: 120%;
      text-align: left;
    }

    @include desktop {
      font-size: 72px;
    }
  }

  &__button {
    width: 100%;

    @include tablet {
      max-width: 270px;
    }

    @include desktop {
      align-self: flex-end;
    }
  }

  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 0 100%;
    transform: rotate(-90deg) translateY(100%);

    display: none;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;

    @include desktop {
      display: flex;
    }
  }

  &__divider {
    width: 70px;
    height: 1px;
    margin: 0;
    border: 0;

    background-color: $color-accent;
  }

  &__category {
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    color: $color-label;
    text-transform: uppercase;
  }

  &__logo {
    position: absolute;
    top: 8px;
    right: 0;
    left: 0;

    font-size: 30px;

    @include tablet {
      top: 15px;
      right: auto;
      left: 72px;
      font-size: 36px;
    }
  }
}
