@use '../utility/variables' as *;
@use '../utility/mixins' as *;

.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--hamburger {
    background-image: url(/src/images/icons/hamburger.svg);

    @include hover(transform, scale(1.1));
  }

  &--close {
    background-image: url(/src/images/icons/close.svg);

    @include hover(transform, scale(1.1));
  }

  &--arrow-right {
    background-image: url(/src/images/icons/arrow-right.svg);
  }

  &--facebook {
    background-image: url(/src/images/icons/facebook.svg);

    @include hover(transform, scale(1.1));
  }

  &--instagram {
    background-image: url(/src/images/icons/instagram.svg);

    @include hover(transform, scale(1.1));
  }
}
