@use '../utility/variables' as *;
@use '../utility/mixins' as *;

.menu {
  color: $color-main-light;
  background-color: $color-accent;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block: 20px;

    @include tablet {
      flex-direction: row;
      gap: 36px;
      padding-block: 40px;
    }

    @include desktop {
      gap: 100px;
    }
  }

  &__nav {
    font-size: 16px;
    font-weight: 500;
  }

  &__divider {
    height: 1px;
    margin: 0;
    border: 0;
    background-color: $color-main-light;

    @include tablet {
      align-self: stretch;
      width: 1px;
      height: auto;
    }
  }

  &__schedule {
    @include tablet {
      flex-direction: row;
      gap: $gap-tablet;
    }

    @include desktop {
      gap: $gap-desktop;
    }
  }
}
