@use '../utility/variables' as *;
@use '../utility/mixins' as *;

.navbar {
  pointer-events: none;

  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  padding-top: 20px;

  @include tablet {
    padding-top: 40px;
  }

  &__button {
    pointer-events: all;
  }
}
