// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1280px;

// Layout (Grid)
$padding-mobile: 20px;
$padding-tablet: 39px;
$padding-desktop: 55px;
$gap-mobile: 20px;
$gap-tablet: 30px;
$gap-desktop: 30px;
$cols-mobile: 2;
$cols-tablet: 6;
$cols-desktop: 12;

// Colors
$color-main-light: #fff;
$color-main-dark: #000;
$color-text: #0f0e08;
$color-text-secondary: #4e4e4e;
$color-label: #687480;
$color-accent: #1a5a4c;
$color-additional: #f14a27;
$color-pagination: #e0e0e0;

// Fonts
$font-title: 'Montserrat', sans-serif;
$font-main: 'IBM Plex Sans', sans-serif;

// Animations
$transition-speed: 0.4s;
$transition-function: ease-out;
